@import '~normalize.css';
@import './style/variables.scss';

@font-face {
  font-family: 'RobotoCondensed';
  src: url('./fonts/Roboto_Condensed/static/RobotoCondensed-Light.ttf')
    format('woff2');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'RobotoCondensed';
  src: url('./fonts/Roboto_Condensed/static/RobotoCondensed-Medium.ttf')
    format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'RobotoCondensed';
  src: url('./fonts/Roboto_Condensed/static/RobotoCondensed-Bold.ttf')
    format('truetype');
  font-weight: 700;
  font-style: normal;
}

html {
  &:has(.cart) {
    overflow-y: hidden;
  }
}

body {
  margin: 0;
  padding-top: 0;
}

p,
h1 {
  margin: 0;
  padding: 0;
  font-family: 'RobotoCondensed', sans-serif;
  color: $main-color;
}
ul {
  margin: 0;
  padding: 0;
}

button {
  cursor: pointer;
}

.header {
  border-top: none;
  z-index: 100;
  height: $headers-height;
  line-height: $headers-height;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: $main-color;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 40px;

  &__title {
    font-size: 30px;
    font-weight: 300;
    color: $second-color;
  }

  &__cart {
    width: 40px;
    height: 40px;

    &-button {
      background-color: transparent;
      border: none;
      position: relative;
    }

    &-circle {
      position: absolute;
      color: $main-color;
      background-color: $second-color;
      border: 2px solid $second-color;
      border-radius: 50%;
      width: 20px;
      height: 20px;
      right: -10px;
      bottom: -5px;
    }
  }
}

.main {
  display: flex;
  flex-direction: column;
  gap: 50px;
  padding-inline: 20px;
  max-width: 1024px;
  margin: $main-margin-top auto 50px;
  min-height: $min-content-height;
}

.footer {
  display: flex;
  align-items: center;
  justify-content: center;
  height: $footers-height;
  background-color: $main-color;

  &__rights {
    color: $second-color;
  }
}
